{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
    <table class="table table-bordered table-striped">
    <tr>
        <th>Schedule name</th>
        <th>View</th>
         <th>Generate</th>
         <th>Edit</th>
         <th>Delete</th>
    </tr>

      {% for data in content %}
          <tr>

           <td>{{ data.name }}</td>
        <td><a href="view-schedules/{{ data.id  }}"><button  class="btn btn-success">View</button></a></td>
        <td><a href="generate/{{ data.id  }}"><button  class="btn btn-info">Generate Schedule</button></a></td>
        <td><a href="edit/{{ data.id  }}"><button  class="btn btn-primary">Edit Schedule</button></a></td>
        <td><a href="delete/{{ data.id  }}"><button  class="btn btn-danger">Delete Schedule</button></a></td>
          </tr>

    {% endfor %}
    </table>

{% endblock %}
</body>
</html>