{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}
<div class="container-fluid">
<table class = "table table-striped">
    	<tr>
    		{% for columns in data_frame %}
    			<th>{{ columns }}</th>
    		{% endfor %}
            {% for name in data_frame.to_numpy %}
                <tr>

                {% for items in name %}

                    <td>{{ items }}</td>



                    {% endfor %}
                {% endfor %}
                </tr>


    	</tr>
    </table>
</div>




{% endblock content %}
</body>
</html>